[user]
  name = Asai Masami
  email = shakeforme@gmail.com
[color]
  ui = auto
[core]
  excludesfile = /Users/count0/.gitignore_global
[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f
[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true
[filter "lfs"]
  clean = git lfs clean %f
  smudge = git lfs smudge %f
  required = true
[merge]
  tool = vimdiff
[push]
  default = simple
[alias]
  log-graph = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  s = status
  d = diff HEAD
  d1 = diff HEAD^
  d2 = diff HEAD^^
  d3 = diff HEAD^^^
  d4 = diff HEAD^^^^
  d5 = diff HEAD^^^^^
  fetch-pulls = fetch origin + refs/pull*:refs/remotes/pull/*
